*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    display: flexbox;
    /*background-color:rgb(128, 148, 154);*/
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    min-width: 1038px;


}
header{
    height: 90px;
    width: 100%;
    

}
.bouton{
  
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.box-with-text {
  background-image: -webkit-linear-gradient(rgb(138, 12, 39) 50%, white 50%);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% 50px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 2s linear infinite;
}

@-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}

@keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}
img{
    padding: 0;
    width:35px;
    height: auto;
    padding: 5px;
}
.nav{
    padding: 30px;
    height: 20vh;
    width:100vw;
    min-width: 1038px;
    align-items: center;
    background-color: rgb(8, 25, 25);
    min-width: 850px;
    
}

.nav a{
    color: rgb(0, 255, 89);
    font-size: 1.2em;
}

.nav .nomEntreprise{
  
    font-size: 2em;
    font-weight: 700;
    padding-left: 0px;
    white-space: nowrap;
    line-height: 20vh;
  font: bold 6vmax/.8 Open Sans, Lucida Sans;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-image: -webkit-linear-gradient(crimson 50%, white 50%);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% 10px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 4s linear infinite;
}

.nav .compte ul{
    display: flex;
    padding: 13px;
    
    
}
.nav .compte{
    float:right;

}
.nav .compte li{
     
    margin: 0 20px;
    color: rgb(0, 255, 89);
}



.typeVetements{
    width:0;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    visibility: hidden;
    

}
.typeVetements li{
    margin-top: 5vh;
    color: #eb7371;
}
.typeVetements ul li a{
    color:#eb7371;
}
.typeVetements ul li:first-child{
    margin-top: 0vh;
}
.menuder{
    height: 100vh;
    visibility: visible;
    width:10vw;
    min-width: 91px;
    
    background-color: black;

    transition: all ease .3s;
    
    
}


button{z-index: 3;
    background-color: rgb(8, 25, 25);
    border: 0;
}


.divform{
    display: contents;
    justify-content:center;
    flex-direction: columns;
    align-items: center;
    background-color: rgb(128, 148, 154);
    font-family: 'Roboto', sans-serif;
    z-index: -1;
}
  form {
    margin-top: 20px;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 500px;
  }
  form h1{
    color: #eb7371;
    text-align:center;
  }
  form .social-media{
    margin-top: -10px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
  }
  form p.choose-email{
    text-align:center;
  }
  form .inputs {
    display: flex;
    flex-direction: column;
  }
  form .inputs input[type='email'], input[type='password']{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
  }
  form p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
  }
  form p.inscription span{
    color: #eb7371;
  }
  form button{
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #fff;
    background-color: #eb7371;
    outline:none;
    cursor:pointer;
  }



*.box-with-text {
  
  white-space: nowrap;
  text-transform: uppercase;
  font: bold 26vmax/.8 Open Sans, Impact;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}