.img_vetement{
    width:200px;
    height:auto;
    margin:auto;
    display: block;
    padding: 10px;
    
}

.vetement{
    margin-top: 5%;
    display: inline-block;
    border: solid rgb(90, 89, 89) 3px;
    border-radius:20px;
    width: 18vw;
    margin: 0 ;
    min-width: 220px;
}
.triple{
    margin:0 auto;
    width: 100%;
    text-align: center;
    min-width: 1100px;
}
.haut_vers_bas{
    display: block;
    width: 100%;
}
.triple div:first-child
{
    float:left;
    margin-left: 15vw;
    margin-top: 30px;
    width:200px;
}
.triple div:nth-child(2)
{
    
    width:200px;
    margin-top: 30px;
}
.triple div:last-child
{
    float:right;
    margin-right: 15vw;
    margin-top: 30px;
    width:200px;
}
.triple div{

}